
video{
    position:fixed;
    z-index:-1;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
}

body{
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
}

header {
    box-shadow: 5px 5px 1px -4px rgba(255, 0, 0, 1) inset;
    text-align: center;
    background: rgba(0,0,0,.70);
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    animation-delay:200ms;
    width: 120px;
}

.rtt{
    display: inline-flex;
    margin: 0;
    float:left;

}

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    animation:box_shadow 6.15s infinite;
    box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.8);
    background: rgba(0,0,0,.70);
}
@keyframes box_shadow{
 from {box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.8);}
 50% {box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0);}
 to {box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.8);}
 }
h3{
    margin:0px;
    margin-bottom:0px;
    margin-top:0px;
}

.tt{
    text-align: center;
    background: rgba(0,0,0,.8);
}

.a{
    color: #FFFFFF;
}

.nav {

    list-style: none;
    display: flex;
}

.text_table {
    margin-left:10px;
}

.The_main_advantage {
    margin-left:10px;
}

.text{
    margin-right: 5%;
    margin-left: 5%;
}

.point {
    box-shadow: 5px 5px 1px -4px rgba(255, 0, 0, 1) inset;
    transition: 0.5s;
    font-size: 13px;
    width: 65px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.13209033613445376) 100%);
}

.point:hover{
text-shadow: 0 0 15px #FFF, 0 0 10px #D43224;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    padding: 14px;
    border-radius: 10px;
}

.option {
    margin-right: 30px;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%) }
}

.article iframe {
    width: 100% !important;
}

.title {
    text-align: center;
    font-size: 32px;
    color: tomato;
}

.photo5{
    display: flex;
    justify-content: center;
}

.top-left {
    position: absolute;
    margin-left: 30px;
    top: 70%;
    left: 16px;
    margin-right: 250px;
    margin:50;
}

.top-up {
    text-shadow: 0 0 6px rgba(255,0,0,0.9);
    position: absolute;
    left: 16px;
    margin-left: 250px;
}

.top-u {
    position: absolute;
    top: 28%;
    left: 16px;
    margin-left: 30px;
    margin-right:600px;
}

a {
    text-decoration: none;
}

.top-left-Dante {
    position: absolute;
    margin-left: 30px;
    top: 70%;
    left: 16px;
    margin-right: 250px;
    margin:50;
}

.hr_and{
    margin-top:50px;
    margin-bottom:50px;
    opacity:0;
}

.top-up-Dante {
    text-shadow: 0 0 6px rgba(255,0,0,0.9);
    position: absolute;
    left: 16px;
    margin-left: 200px;
    margin:50;
}

.top-u-Dante {
    position: absolute;
    top: 28%;
    left: 16px;
    margin-left: 30px;
    margin-right:730px;
}

.top-left-Nero {
    position: absolute;
    margin-left: 30px;
    top: 85%;
    left: 16px;
    margin-right: 250px;
}

.top-up-Nero {
    text-shadow: 0 0 6px rgba(255,0,0,0.9);
    position: absolute;
    left: 16px;
    margin-left: 200px;
    margin:50;
}

.top-u-Nero {
    position: absolute;
    top: 28%;
    left: 16px;
    margin-left: 30px;
    margin-right:650px;
}

.top-left-Vergil {
    position: absolute;
    margin-left: 30px;
    top: 75%;
    left: 16px;
    margin-right: 250px;
}

.top-up-Vergil {
    text-shadow: 0 0 6px rgba(255,0,0,0.9);
    position: absolute;
    left: 16px;
    margin-left: 200px;
    margin:50;
}

.top-u-Vergil {
    position: absolute;
    top: 25%;
    left: 16px;
    margin-left: 30px;
    margin-right:600px;
}

h4{
    max-width: 150px;
}

.screenshots{
    display: flex;
    justify-content: center;
}

.hr {

    color:white;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67),;
    -moz-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    animation: shadow 3s infinite;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom:50px;
    margin-top:50px;
}

.tr{
    color:white;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #CE2E36, 0 -10px 20px #CE2E36, 0 -18px 40px #CE2E36, 2px 2px 2px rgba(255,0,0,0);
}

.hr_1 {
    color:white;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67),;
    -moz-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    animation: shadow 3s infinite;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:40px;
}


@keyframes showed {
 from {opacity : 1;}
 50% {opacity : 0;}
 to {opacity : 1;}
}



.hr_main {
    opacity: 0;
    margin-bottom:200px;
    margin-top:200px;
}

.fab {
text-shadow: 0 0 15px #FFF, 0 0 10px #D43224;
transition: transform 0.5s;
}

.fab:hover {
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #D43224, 0 0 30px #D43224, 0 0 40px #D43224, 0 0 55px #D43224, 0 0 75px #D43224;
}

.Game_requirements {
    border: 1px solid black;
    margin-left:10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    background: rgba(255,255,255,.30);
    transition: transform 2s;
    width:600px;
}

.icon {
    white-space: nowrap;
    box-shadow: 5px 5px 1px -4px rgba(255, 0, 0, 1) inset;
    background: white;
    padding: 13px;
    margin: 30px;
    width: 10px;
    height: 10px;
    display: inline-flex;
    transition: 0.5s;
}

.socials {
    animation: showed 6s infinite;
    display:flex;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    float: center;
    align-items: center;
    justify-content: center;
}

.socials:hover{
    animation: hover 6s infinite;
    animation-play-state: paused;
}

@keyframes hover {
 from {opacity : 1;}
 50% {opacity : 0;}
 to {opacity : 1;}
}
.icon:hover{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67),;
    -moz-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.67);
    background-color: #3D3D3D;
    padding: 15px;
    border-radius: 20px;
}



